@{
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
    ViewData["Title"] = "Forget PAssword";
}

<div class="auth-title">
    AttendEase
</div>

<div class="auth-subtitle">
    Employee Attendance System
</div>
<div class="auth-subtitle">
    Forget Password
</div>

<form id="loginForm"></form>
<div id="otpSection" style="display:none; margin-top:15px;">
    <input id="otpInput" placeholder="Enter OTP" />
    <button id="verifyOtpBtn" class="k-button k-primary mt-2">Verify OTP</button>
</div>


<div class="auth-footer">
    Don't have an account?
    <a href="/Auth/Register">Register</a>
</div>

<div id="notification"></div>

@section Scripts{

    <script>

        $(document).ready(function(){
            $("#notification").kendoNotification({
                position: {
                    pinned: true,
                    top: 30,
                    right: 30
                },
                autoHideAfter: 1500,
                stacking: "down",
                templates: [
                    {
                        type: "error",
                        template: "<div class='k-notification-error'>#: message #</div>"
                    }
                ]
            });

            $("#loginForm").kendoForm({

                formData:{
                    c_email:"",
                },

                items:[

                    {
                        field:"email",
                        label:"Email",
                        validation:{ required: { message: "Email is required" }, email: { message: "Invalid email format" } },
                        editor:function(container,options){
                            $('<input required="required" name="'+options.field+'" type="email"/>')
                            .appendTo(container)
                            .kendoTextBox({
                                placeholder:"Enter your email"
                            });
                        }
                    }

                ],

                buttonsTemplate:`
                    <button type="submit" class="k-button k-primary w-100">
                        Reset Password
                    </button>
                `,

                submit:function(e){
                    e.preventDefault();
                        var formdata = {
                            c_email: e.model.email,
                        }

                        $.ajax({
                            url: "/Auth/SendOtp",
                            method: "POST",
                            data: { email: e.model.email },
                            @* contentType: "application/json", *@

                            success:function(response){
                                debugger;

                                if (response.success) {
                                    $("#notification").data("kendoNotification")
                                    .show("OTP sent to your Email !!", "success");

                                    // ✅ Show OTP section
                                    $("#otpSection").show();

                                } else {
                                    $("#notification")
                                        .data("kendoNotification")
                                        .show({message: response.message},"error");
                                }
                            },

                            error:function(xhr){
                                var message = "Login failed";
                                if (xhr.responseJSON && xhr.responseJSON.message)
                                    message = xhr.responseJSON.message;

                                $("#notification")
                                    .data("kendoNotification")
                                    .show({message:message},"error");
                            }

                    });    
                }
            });

            $("#otpInput").kendoTextBox({
                    placeholder: "Enter OTP"
            });

            $("#verifyOtpBtn").click(function(){
                var otp = $("#otpInput").val();
                var email = $("input[name='email']").val();
                $.ajax({
                    url: "/Auth/ForgetPassword",
                    method: "POST",
                    data: {
                        email: email,
                        otp: otp
                    },
                    success: function(response){
                        debugger;

                        if(response.success){
                            $("#notification").data("kendoNotification")
                            .show("OTP Verified! Password sent to your email.", "success");

                            setTimeout(function(){
                                window.location.href = "/Auth/Login";
                            }, 1500);
                        }
                        else{
                            $("#notification").data("kendoNotification")
                            .show({message: response.message}, "error");
                        }
                    }
                });
            });

        });

    </script>
}