@model Repositories.Models.AttendanceModel

@{
    ViewData["Title"] = "Attendance";
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
}

<div class="container mt-4">

    <h3 class="mb-3">Employee Attendance</h3>

    <span id="notification"></span>

    <div class="d-flex gap-3 mt-4 mb-4">

        <button id="btnCheckIn" class="k-button k-button-lg k-button-solid-primary">
            Check In
        </button>

        <button id="btnCheckOut" class="k-button k-button-lg k-button-solid-error">
            Check Out
        </button>

    </div>

    <div id="attendanceGrid"></div>

    <br/>

    <div id="loader"></div>

</div>


<!-- POPUP -->
<div id="attendancePopup" style="display:none">

    <div id="popupForm"></div>

    <br/>

    <div class="k-dialog-buttongroup k-dialog-button-layout-stretched">

        <button id="submitAttendance" class="k-button k-button-solid-primary">
            Submit
        </button>

        <button id="cancelPopup" class="k-button k-button-solid-base">
            Cancel
        </button>

    </div>

</div>


@section Scripts{

@* <link href="~/lib/kendo/kendo.default-v2.min.css" rel="stylesheet"/>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/kendo/kendo.all.min.js"></script> *@

<script>

let actionType = "";

$(document).ready(function(){

    // =========================
    // KENDO NOTIFICATION
    // =========================

    $("#notification").kendoNotification({
        position:{
            pinned:true,
            top:30,
            right:30
        },
        autoHideAfter:3000,
        stacking:"down",
       
    });


    // =========================
    // KENDO LOADER
    // =========================

    var loader = $("#loader").kendoLoader({
        visible:false,
        size:"large"
    }).data("kendoLoader");


    // =========================
    // POPUP WINDOW
    // =========================

    $("#attendancePopup").kendoWindow({
        width:"420px",
        title:"Attendance",
        modal:true,
        visible:false,
        resizable:false
    });


    // =========================
    // CHECK IN BUTTON
    // =========================

    $("#btnCheckIn").click(function(){

        actionType = "checkin";

        $("#popupForm").empty();

        $("#popupForm").kendoForm({

            formData:{
                WorkType:""
            },

            buttonsTemplate:"",

            layout:"grid",

            items:[
            {
                field:"WorkType",
                label:"Work Type",
                editor:"DropDownList",
                editorOptions:{
                    optionLabel:"Select Work Type",
                    dataSource:[
                        "Remote",
                        "Office",
                        "Field"
                    ]
                }
            }
            ]

        });

        $("#attendancePopup")
            .data("kendoWindow")
            .title("Employee Check In")
            .center()
            .open();

    });


    // =========================
    // CHECK OUT BUTTON
    // =========================

    $("#btnCheckOut").click(function(){

        actionType = "checkout";

        $("#popupForm").empty();

        $("#popupForm").kendoForm({

            formData:{
                TaskType:[]
            },

            buttonsTemplate:"",

            items:[
            {
                field:"TaskType",
                label:"Task Type",
                editor:"CheckBoxGroup",
                editorOptions:{
                    items:[
                        {label:"Developing", value:"Developing"},
                        {label:"Designing", value:"Designing"},
                        {label:"Research", value:"Research"}
                    ]
                }
            }
            ]

        });

        $("#attendancePopup")
            .data("kendoWindow")
            .title("Employee Check Out")
            .center()
            .open();

    });


    // =========================
    // CANCEL BUTTON
    // =========================

    $("#cancelPopup").click(function(){

        $("#attendancePopup").data("kendoWindow").close();

    });


    // =========================
    // SUBMIT BUTTON
    // =========================

    $("#submitAttendance").click(function(){

        loader.show();

        if(actionType === "checkin")
        {

            var workType = $("#popupForm")
                .find("[name='WorkType']")
                .data("kendoDropDownList")
                .value();

            if(!workType)
            {
                loader.hide();
                @* notification.show({message:"Please select work type"}, "error"); *@
                $("#notification").data("kendoNotification").show("Please select work type","error");
                return;
            }

            $.ajax({

                url:"/Attendance/CheckIn",
                type:"POST",

                data:{
                    EmpId: parseInt(sessionStorage.getItem("userId")),
                    WorkType: workType
                },

                success:function(res){

                    loader.hide();

                    if(res.success)
                        @* notification.show(res.message + " " +res.status,"success"); *@
                        $("#notification").data("kendoNotification").show(res.message + " | Status: "+res.status,"success");
                    else
                        @* notification.show("Error in check in ","error"); *@
                        $("#notification").data("kendoNotification").show(res.message,"error");

                    $("#attendancePopup").data("kendoWindow").close();

                     // reload grid
                    var grid = $("#attendanceGrid").data("kendoGrid");
                    if(grid){
                        grid.dataSource.read();
                        grid.refresh();
                        }
                    },

                error:function(){

                    loader.hide();
                    @* notification.show({message:"Server Error Occurred"},"error"); *@
                    $("#notification").data("kendoNotification").show("Server Error Occurred","error");

                }

            });

        }


        if(actionType === "checkout")
        {

            var tasks = [];

            $("#popupForm input[name='TaskType']:checked").each(function(){
                tasks.push($(this).val());
            });

            if(tasks.length === 0){
                $("#notification").data("kendoNotification")
                    .show("Please select at least one Task Type","error");
                return;
            }

            $.ajax({

                url:"/Attendance/CheckOut",
                type:"POST",

                data:{
                    EmpId: parseInt(sessionStorage.getItem("userId")),
                    TaskType: tasks.join(",")
                },

                success:function(res){

                    loader.hide();

                    if(res.success)
                        @* notification.show({message:res.message + " | Hours: "+res.workingHours},"success"); *@
                        $("#notification").data("kendoNotification").show(res.message + " | Hours: "+res.workingHours,"success");
                    else
                        @* notification.show({message:res.message},"error"); *@
                        $("#notification").data("kendoNotification").show(res.message,"error");

                    $("#attendancePopup").data("kendoWindow").close();
                    
                     // reload grid
                    var grid = $("#attendanceGrid").data("kendoGrid");
                    if(grid){
                        grid.dataSource.read();
                        grid.refresh();
                        }
                    },

                error:function(){

                    loader.hide();
                    @* notification.show({message:"Server Error Occurred"},"error"); *@
                    $("#notification").data("kendoNotification").show("Server Error Occurred","error");

                }

            });

        }

    });

    // =========================
    // ATTENDANCE GRID
    // =========================

    $("#attendanceGrid").kendoGrid({

        height: 400,

        sortable: true,

        pageable: true,

        filterable: true,

        columns: [

            {
                field: "attendDate",
                title: "Date",
                width: 150,
                template: "#= kendo.toString(kendo.parseDate(attendDate),'dd/MM/yyyy') #"
            },

            {
                title: "Check In",
                width: 120,
                template: "#= clockInHour + ':' + (clockInMin < 10 ? '0' + clockInMin : clockInMin) #"
            },

            {
                title: "Check Out",
                width: 120,
                template: "# if(clockOutHour != null){ # #= clockOutHour + ':' + (clockOutMin < 10 ? '0' + clockOutMin : clockOutMin) # # } else { # - # } #"
            },

            { field: "workingHour", title: "Working Hours", width: 120 },

            {
                field: "attendStatus",
                title: "Status",
                template: function(data){

                    if(data.attendStatus === "LateIn")
                        return "<span class='k-badge k-badge-warning'>Late</span>";

                    if(data.attendStatus === "EarlyOut")
                        return "<span class='k-badge k-badge-error'>Early Out</span>";

                    return "<span class='k-badge k-badge-success'>Regular</span>";
                }
            },

            { field: "workType", title: "Work Type", width: 120 },

            {
                field: "taskType",
                title: "Task Type",
                template: "<div style='white-space:normal'>#= taskType #</div>"
            }

        ],

        dataSource: {

            transport: {

                read: function(options){

                    $.ajax({

                        url: "/Attendance/GetAttendanceByEmployee",

                        data: {
                            empId: sessionStorage.getItem("userId")
                        },

                        success: function(result){

                            options.success(result);

                        }

                    });

                }

            },

            pageSize: 5,

            schema: {

                model: {

                    fields: {

                        attendDate: { type: "date" },

                        clockInHour: { type: "number" },

                        clockInMin: { type: "number" },

                        clockOutHour: { type: "number" },

                        clockOutMin: { type: "number" },

                        workingHour: { type: "number" },

                        attendStatus: { type: "string" },

                        workType: { type: "string" },

                        taskType: { type: "string" }

                    }

                }

            }

        }

    });

});

</script>

}