@{
    ViewData["Title"] = "Employee Attendance Report";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-title">
    Employee Attendance Report
</div>

@* <div class="section-title">
    Employee List
</div> *@

<div class="task-container">
    <div id="employeeGrid"></div>
</div>


<div id="notification"></div>


@section Scripts{

<style>

.page-title{
    font-size:36px;
    font-weight:600;
    margin-bottom:20px;
}

/* CARD CONTAINER */

.k-card-container{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:25px;
    margin-top:30px;
}

/* CARD */

.stat-card{
    text-align:center;
    padding:25px;
    transition:0.3s;
    border-radius:10px;
}

.stat-card:hover{
    transform:translateY(-5px);
}

/* HEADER */

.k-card-header{
    font-weight:600;
    font-size:18px;
    border-bottom:1px solid #eee;
}

/* ICON */

.stat-icon{
    font-size:35px;
    margin-top:15px;
    color:#2b7cff;
}
.stat-icon .k-icon{
    font-size:40px;
    color:#2b7cff;
}

/* NUMBER */

.stat-number{
    font-size:40px;
    font-weight:bold;
    margin-top:10px;
    color:#2b7cff;
}

/* TASK GRID */

.section-title{
    font-size:30px;
    font-weight:600;
    margin-top:40px;
    margin-bottom:15px;
}

.task-container{
    background:white;
    padding:25px;
    border-radius:12px;
    box-shadow:0 10px 20px rgba(0,0,0,0.1);
}

</style>


<script>

$(document).ready(function(){

    $("#notification").kendoNotification({
        position:{
            pinned:true,
            top:30,
            right:30
        },
        autoHideAfter:2000,
        stacking:"down"
    });
    createEmployeeGrid(); 
    loadReport();

});


/* CREATE GRID */

function createEmployeeGrid(){

    $("#employeeGrid").kendoGrid({

        columns:[

            { field:"empId", title:"Employee ID", width:"120px" },
            { field:"name", title:"Name" },
            
            @* {
                field:"status",
                title:"Status",
                template:function(data){

                    if(data.status === "Active"){
                        return "<span style='color:green;font-weight:bold'>Active</span>";
                    }
                    else{
                        return "<span style='color:red;font-weight:bold'>Inactive</span>";
                    }

                } 
            @* }, *@
            {
                title:"Action",
                template:`<button class="k-button k-button-md k-button-solid-primary">
                          Details
                          </button>`,
                 template:`<button class="k-button k-button-md k-button-solid-primary">
                          Report
                          </button>`,          

                width:"150px"
            }

        ],

        dataSource:{
            transport:{
                read:{
                    url:"/Admin/ListEmployee",
                    dataType:"json"
                }
            },
            schema:{
                data:"data"
            },
            pageSize:10
        },

        pageable:{
            pageSizes:[10,20,50,100],
            buttonCount:5
        },
        sortable:true,
        filterable:true

    });

}

/* LOAD DASHBOARD DATA */

function loadReport(){
    var hoursData=[];


    $.get("/Admin/DesigningHour",function(res){

        if(res.success){

            hoursData.push({
                type:"Designing",
                hours:res.data
            });

            $("#hoursGrid").data("kendoGrid").dataSource.data(hoursData);

        }
    });
}

</script>

}